<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get post Sampleページ</title>
</head>
<body>
    <h1>get post サンプルページ</h1>
    <p>サンプルボタン</p>
    <form th:action="@{/getpost/getpage}" method="get">
        <input type="text" name="testGet" th:value="${getInitValue}">
        <input type="submit" value="get">
    </form>
    <form th:action="@{/getpost/postpage}" method="post">
        <input type="text" name="testPost" th:value="${postInitValue}">
        <input type="submit" value="post">
    </form>
</body>
</html>
