<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot sample1</title>
</head>
<body>
    <h1>sample1</h1>
    <p>sample1</p>
    <form action="#" th:action="@{/sample1/sumbit}" th:object="${userForm}" method="post">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" th:value="*{id}" />
    
        <label for="username">ユーザー名:</label>
        <input type="text" id="username" name="username" th:value="*{username}" />
    
        <button type="submit">送信</button>
    </form>
</body>
</html>
